AppDevStatus/Subflow Tagesinfo.json
[
    {
        "id": "subflow_jarvis_daily_info",
        "type": "subflow",
        "name": "Jarvis Subflow - Tagesinfo",
        "info": "Erzeugt Tagesinfo, triggert Benachrichtigung/TTS und gibt Response an die App zurück.",
        "category": "Jarvis",
        "in": [
            {
                "x": 40,
                "y": 160,
                "wires": [
                    {
                        "id": "daily_weather_request"
                    },
                    {
                        "id": "daily_calendar_state"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1400,
                "y": 260,
                "wires": [
                    {
                        "id": "daily_response_mapper",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#3FADB5"
    },
    {
        "id": "daily_weather_request",
        "type": "http request",
        "z": "subflow_jarvis_daily_info",
        "name": "Abgriff Wetterdaten",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.open-meteo.com/v1/forecast?latitude=48.14&longitude=11.58&current_weather=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 230,
        "y": 100,
        "wires": [
            [
                "daily_weather_mapper"
            ]
        ]
    },
    {
        "id": "daily_calendar_state",
        "type": "api-current-state",
        "z": "subflow_jarvis_daily_info",
        "name": "Kalender",
        "server": "daf816ed.cff788",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "calendar.mihi_adolf_gmail_com",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "daily_calendar_mapper"
            ]
        ]
    },
    {
        "id": "daily_weather_mapper",
        "type": "function",
        "z": "subflow_jarvis_daily_info",
        "name": "Erzeuge Wetter",
        "func": "msg.topic = 'weather';\nmsg.parts = { id: 'Tagesinfo' };\nmsg.weather = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 100,
        "wires": [
            [
                "daily_join"
            ]
        ]
    },
    {
        "id": "daily_calendar_mapper",
        "type": "function",
        "z": "subflow_jarvis_daily_info",
        "name": "Erzeuge Kalender",
        "func": "msg.topic = 'calendar';\nmsg.calendar = msg.payload;\nmsg.parts = { id: 'Tagesinfo' };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 260,
        "wires": [
            [
                "daily_join"
            ]
        ]
    },
    {
        "id": "daily_join",
        "type": "join",
        "z": "subflow_jarvis_daily_info",
        "name": "Join Wetter + Kalender",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "10",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 710,
        "y": 180,
        "wires": [
            [
                "daily_generate_text"
            ]
        ]
    },
    {
        "id": "daily_generate_text",
        "type": "function",
        "z": "subflow_jarvis_daily_info",
        "name": "Erzeuge Tagesinfo",
        "func": "let now = new Date();\nlet weather = msg.payload.weather;\nlet calendar = msg.payload.calendar;\n\nfunction dayToText(day) {\n    const days = {\n        1: 'erster', 2: 'zweiter', 3: 'dritter', 4: 'vierter', 5: 'fünfter',\n        6: 'sechster', 7: 'siebter', 8: 'achter', 9: 'neunter', 10: 'zehnter',\n        11: 'elfter', 12: 'zwölfter', 13: 'dreizehnter', 14: 'vierzehnter', 15: 'fünfzehnter',\n        16: 'sechzehnter', 17: 'siebzehnter', 18: 'achtzehnter', 19: 'neunzehnter', 20: 'zwanzigster',\n        21: 'einundzwanzigster', 22: 'zweiundzwanzigster', 23: 'dreiundzwanzigster', 24: 'vierundzwanzigster',\n        25: 'fünfundzwanzigster', 26: 'sechsundzwanzigster', 27: 'siebenundzwanzigster', 28: 'achtundzwanzigster',\n        29: 'neunundzwanzigster', 30: 'dreißigster', 31: 'einunddreißigster'\n    };\n    return days[day] || day;\n}\n\nlet tempRaw = weather?.current_weather?.temperature ?? null;\nlet temp = tempRaw !== null ? Math.round(tempRaw) : null;\nlet weatherCode = weather?.current_weather?.weathercode ?? -1;\nlet event = calendar?.attributes?.message ?? 'keine Termine';\n\nlet time = now.toLocaleTimeString('de-DE', { hour: '2-digit', minute: '2-digit' });\nlet weekday = now.toLocaleDateString('de-DE', { weekday: 'long' });\nlet month = now.toLocaleDateString('de-DE', { month: 'long' });\nlet year = now.getFullYear();\nlet spokenDay = dayToText(now.getDate());\nlet date = `${weekday}, der ${spokenDay} ${month} ${year}`;\n\nlet hour = now.getHours();\nlet greeting = 'Hallo';\n\nif (hour < 12) {\n    greeting = 'Guten Morgen';\n} else if (hour < 18) {\n    greeting = 'Guten Tag';\n} else {\n    greeting = 'Guten Abend';\n}\n\nlet weatherDescription = 'wechselhaftem Wetter';\n\nswitch (weatherCode) {\n    case 0:\n        weatherDescription = 'klarem Himmel';\n        break;\n    case 1:\n    case 2:\n    case 3:\n        weatherDescription = 'leicht bewölktem Himmel';\n        break;\n    case 45:\n    case 48:\n        weatherDescription = 'nebligem Wetter';\n        break;\n    case 51:\n    case 53:\n    case 55:\n        weatherDescription = 'leichtem Regen';\n        break;\n    case 61:\n    case 63:\n    case 65:\n        weatherDescription = 'regnerischem Wetter';\n        break;\n    case 71:\n    case 73:\n    case 75:\n        weatherDescription = 'Schneefall';\n        break;\n    case 80:\n    case 81:\n    case 82:\n        weatherDescription = 'Regenschauern';\n        break;\n    case 95:\n        weatherDescription = 'Gewitter';\n        break;\n}\n\nlet weatherText = 'Ich konnte das Wetter momentan nicht abrufen.';\nif (temp !== null) {\n    weatherText = `Draußen sind es aktuell ${temp} Grad bei ${weatherDescription}.`;\n}\n\nlet eventText = '';\nif (event === 'keine Termine') {\n    eventText = 'Du hast aktuell keine anstehenden Termine.';\n} else {\n    eventText = `Dein nächster Termin ist ${event}.`;\n}\n\nlet message =\n    `${greeting}. ` +\n    `Heute ist ${date}. ` +\n    `Die aktuelle Uhrzeit ist ${time}. ` +\n    `${weatherText} ` +\n    `${eventText}`;\n\nmsg.payload = {\n    message: message,\n    title: 'Jarvis Tagesinfo',\n    data: {\n        tts_text: message\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 180,
        "wires": [
            [
                "daily_persistent_notification",
                "daily_response_mapper"
            ]
        ]
    },
    {
        "id": "daily_notify_smartphone",
        "type": "api-call-service",
        "z": "subflow_jarvis_daily_info",
        "name": "Notify Jarvis Smartphone",
        "server": "daf816ed.cff788",
        "version": 7,
        "debugenabled": false,
        "action": "notify.mobile_app_smartphone",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\t  \"message\": $$.payload.message,\t  \"title\": $$.payload.title,\t  data: {\t        tts_text: $$.payload.message\t    }\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "mobile_app_smartphone",
        "x": 1240,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "daily_persistent_notification",
        "type": "api-call-service",
        "z": "subflow_jarvis_daily_info",
        "name": "Persistent Notification",
        "server": "daf816ed.cff788",
        "version": 7,
        "debugenabled": false,
        "action": "persistent_notification.create",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\t  \"message\": $$.payload.message,\t  \"title\": $$.payload.title\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "persistent_notification",
        "service": "create",
        "x": 1240,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "daily_tts",
        "type": "api-call-service",
        "z": "subflow_jarvis_daily_info",
        "name": "Sprachausgabe",
        "server": "daf816ed.cff788",
        "version": 7,
        "debugenabled": false,
        "action": "tts.speak",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "tts.piper_2"
        ],
        "labelId": [],
        "data": "{\t  \"media_player_entity_id\": \"media_player.browser_mod_d87c9a3f_d6beffe5_bildschirm\",\t  \"message\": msg.payload.message\t\t}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "tts",
        "service": "speak",
        "x": 1210,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "daily_response_mapper",
        "type": "function",
        "z": "subflow_jarvis_daily_info",
        "name": "Response an App",
        "func": "msg.payload = {\n    success: true,\n    intent: 'dailyInfo',\n    entity: 'jarvis.daily_info',\n    state: 'executed',\n    message: msg.payload.message,\n    audioUrl: null,\n    ttsProfile: 'jarvis'\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "daf816ed.cff788",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": [],
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "fa62c5f87340bc3e",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]